<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Movies</title>
    <!-- <link rel="stylesheet" href="../styles/reset.css"> -->
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/module.css">
    <link rel="stylesheet" href="../styles/layout.css">

    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Lobster|Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Genius 4-Bytes Movies App </h1>

    <!-- <img id="logoimage" src="../styles/images/Genius-bytes-logo.jpg" alt="logoimage"> -->
    <nav>
      <ul class="navigation">
          <li class="nav">
              <a href="/" id="currentlink"> Home Page</a>
          </li>
          <li class="nav">
              <a href="/search">Search Page </a>
          </li>
          <li class="nav">
              <a href="/show"> Favorite Movies</a>
          </li>
          <li class="nav">
              <a href="About-Us.html">About Us </a>
          </li>
      </ul>
  </nav>

  <div class="buttons">
    <nav>
      <form action="/search">
        <button id="searchbutton">Search API Movies</button>
      </form>
      <form action="/show">
        <button id="favbutton">The favorite list </button>
      </form>
    </nav>
  </div>
    

  <div class="topratedmovies">
    <h2> Top Rated Movies </h2>
    <%  data.forEach((val)=>{ %>
        <div class="movietopdiv"> 
        <p id="movietitle"> Movie Title : <%= val.title %>  </p>
        <p id="movieimg"> <img src="<%= val.poster_path %>" > </p>
        <p id="moviername"> Movies Review : </p>
        <p id="movieoverview">  <%= val.overview %> </p>
        <p id="moviepop"> Percentage Of popularity : <%= val.popularity %> </p>
        <p id="movievote"> Averge Vote :  <%= val.vote_average %> </p>
        <p id="moviedate"> Release Date :  <%= val.release_date%></p>
    </div> <br><br>
   
    <% })    %>

  </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>
</html>