<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Document</title>
</head>
<body>
    <h1>top rated</h1>


    <%  data.forEach((val)=>{ %>
        <div> <ul>
        <li> <%= val.title %> </li>
        <li> <img src="<%= val.poster_path %>" > </li>
        <li> <%= val.overview %> </li>
        <li><%= val.popularity %> </li>
        <li> <%= val.vote_average %> </li>
        <li> <%= val.release_date%></li>
     </ul></div>
   
    <% })    %>

    
</body>
</html>