<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Movies</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/module.css">
    <link rel="stylesheet" href="../styles/layout.css">


</head>
<body>
    <h1>top rated</h1>

    <nav>
      <form action="/search">
        <button>Search</button>
      </form>
      <form action="/show">
        <button>MyFavorit</button>
      </form>
    </nav>

    <%  data.forEach((val)=>{ %>
        <div> <ul><li>
        <p> <%= val.title %> </p>
        <p> <img src="<%= val.poster_path %>" > </p>
        <p> <%= val.overview %> </p>
        <p><%= val.popularity %> </p>
        <p> <%= val.vote_average %> </p>
        <p> <%= val.release_date%></p>
    </li></ul></div>
   
    <% })    %>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>
</html>